{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  {% include 'partials/head.html' %}
  <!-- End of Head -->

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      {% if user.is_authenticated %}
        <!-- Sidebar -->
        {% include 'partials/sidebar.html' %}
        <!-- End of Sidebar -->
      {% endif %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          {% include 'partials/topbar.html' %}
          <!-- End of Topbar -->
          
          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="container">
            <form action="#" method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" class="form-control" name="fullsearchbox" placeholder="Search Here" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                  </div>
            </form>
            <!-- Card Information -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-info-circle"></i> Welcome {{user.first_name}} {{user.last_name}} </h6>
                </div>
                <div class="card-body">
               Search The Brand Logos Textual or you can move for AI based Image Search Engine
               <a href="{% url 'ImageSearchApp:search' %}"><strong> Here</strong> </a>   
              </div>
              <a class="btn btn-primary mt-3 float-right" href="{% url 'ImageSearchApp:search'  %}"><Strong>Upload Image Now </Strong></a>
                
            </div>
          </div>
          <!-- end card information -->
            </div>
        {% if pageStatus == 2 %}
            <div class="card text-center shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Searched Images:</h6>
                </div>
                <div class="card-columns">
                {% for image in image_url  %}
                  <div class="card">
                    <img class="card-img-top" src="{{image}}" alt="Card image cap">
                    <div class="card-body">
                     <a href="https://www.google.com/search?q={{brand_names.1}}&" target="_blank"> <h5 class="card-title">{{brand_names.1}}</h5>
                      <p class="card-text">
                        To Know more about the brand owners and their success story follow the link.
                      </p>
                      </a>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  {% empty %}
                  <h2>No Contents Found</h2>
                {% endfor %}
                {% comment %} <h2>{{ifo_box}}</h2> {% endcomment %}
                </div>
              </div>
            {% comment %}end image container{% endcomment %}
            </div>
            <!-- /.container-fluid -->
        {% endif %}
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        {% include 'partials/footer.html' %}
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

    <!-- Bootstrap & JavaScript Plugins -->
    {% include 'partials/plugin.html' %}
  </body>
</html>
