{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include "partials/head.html" %}
<!-- End of Head -->

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    {% if user.is_authenticated %}
    <!-- Sidebar -->
    {% include "partials/sidebar.html" %}
    <!-- End of Sidebar -->
    {% endif %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include "partials/topbar.html" %}
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Home Page</h1>
          </div>

          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100 rounded" height="350px" src="/media/carueselImages/2987462.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 rounded" height="350px" src="/media/carueselImages/11498693.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 rounded" height="350px" src="/media/carueselImages/40366753.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 rounded" height="350px" src="/media/carueselImages/106523337.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 rounded" height="350px" src="/media/carueselImages/303236865.jpg" alt="Third slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 rounded" height="350px" src="/media/carueselImages/2175790215.jpg" alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
          
          <!-- Card Information -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-info-circle"></i> Information</h6>
                </div>
                <div class="card-body">
                  Welcome {{user.first_name}} {{user.last_name}} to the world of Logo Analyzer which
                  is a System that is usefull for designers, business experts and government departments
                  to check their brand logos and trademarks inorder to prevent from the collision and similar
                  design patterns from others.

                  It is always hard to design a unique logos and trademarks for an organizations.
                  A trademark is a distinguishable and recognizable sign, design, or expression that identifies specific products or services of a particular source as distinct from others. A logo is a graphic sign, mark, or symbol used to identify a particular source. It is fair to say that a logo is a type of trademark.
                  So, check it out before making a decision for logo and trademark designs for your business recognition.
                
              </div>
              <a class="btn btn-primary mt-3 float-right" href="{% url 'ImageSearchApp:search'  %}"><Strong>Upload Image Now </Strong></a>
            </div>
          </div>
          <!-- end card information -->

          <!-- Card Information -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="card-header">
                  <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-info-circle"></i> Information</h6>
                </div>
                <div class="card-body">
                  Logo Analyzer System is a reverse image search engine that enables the users to search the logo images by uploading thir original logo see the features that matches to the other existing logo images.
                </div>
                {% if user.is_authenticated %}
                <a class="btn btn-primary mt-3 float-right" href="{% url 'ImageSearchApp:search'  %}"><Strong>Upload Image Now </Strong></a>
                {% else %}
                <a class="btn btn-primary mt-3 float-right" href="{% url 'AuthenticationApp:login'  %}"><Strong>Login Now </Strong></a>
                {% endif %}
            </div>
          </div>
          <!-- end card information -->
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      {% include "partials/footer.html" %}
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap & JavaScript Plugins-->
  {% include "partials/plugin.html" %}

</body>

</html>