{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<!-- Head -->
{% include "partials/head.html" %}
<!-- End of Head -->

<body>

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image" style="background-image: url(' {% static 'pymage/img/reset-pass.png' %} ');
            background-position: center;
            background-size: cover;"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                  <p class="mb-4">We get it, stuff happens. Just enter your email address below
                    and we'll send you a link to reset your password!</p>
                    <div class="no-arrow">{{ form.non_field_errors }}</div>
                </div>
                <form class="user" action="" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="form-group">
                    <!-- {% render_field form.email placeholder=form.email.label class+="form-control form-control-user" %} -->
                    {{form.as_p}}
                  </div>
                  <button type="submit" class="btn btn-primary btn-user btn-block">
                    Reset Password
                  </button>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="{% url 'AuthenticationApp:signup'  %}">Create an Account!</a>
                </div>
                <div class="text-center">
                  <a class="small" href="{% url 'AuthenticationApp:login'  %}">Already have an account? Login!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>


  <!-- Bootstrap & JavaScript Plugins-->
  {% include "partials/plugin.html" %}

</body>

</html>