{% extends 'ac_base.html' %}

{% block 'title' %}
{{ pageTitle }}
{% endblock %}

{% block content %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-center mb-4">
  <h1 class="h3 mb-0 text-gray-800">Password Reset Instructions</h1>
</div>
<!-- End Page Heading -->
<p>
  We've emailed you instructions for setting your password, if an account exists with the email you entered.
  You should receive them shortly.
</p>
<p>
  If you don't receive an email, please make sure you've entered the address you registered with,
  and check your spam folder.
</p>
{% endblock %}