<!-- Card Information -->
{% if notmatchfound %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="card-header">
        <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-info-circle"></i>Brand Information</h6>
      </div>
      <div class="card-body">
        <figure class="figure mx-3">
          <img src="{{ k_neighbours.0 }}" class="figure-img rounded float-left" width="280" height="210" alt="" />
          <figcaption class="figure-caption text-center">
            <a href="{{brand_info.1}}">Image Source</a>
          </figcaption>
        </figure>
        <figure class="figure mx-3">
          <img src="{{ k_neighbours.2 }}" class="figure-img rounded float-left" width="280" height="210" alt="" />
          <figcaption class="figure-caption text-center">
            <a href="{{brand_info.1}}">Image Source</a>
          </figcaption>
        </figure>
        <figure class="figure mx-3">
          <img src="{{ k_neighbours.4 }}" class="figure-img rounded float-left" width="280" height="210" alt="" />
          <figcaption class="figure-caption text-center">
            <a href="{{brand_info.1}}">Image Source</a>
          </figcaption>
        </figure>
        <p class="text-justify">{{ brand_info.0 }}</p>
        <p class="text-justify">{{ brand_info.1 }}</p>
        <p class="text-justify">{{ brand_info.2 }}</p>
      </div>
    </div>
  </div>
{% endif %}

{% if quitesimilar %}
  <!-- End Card Information -->
  <div class="card text-center shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Some Reccomendation Images That May Match To The Query Image</h6>
    </div>
    <div class="card-columns">
    {% for img, imgclass in zipped_list_quitesimilar  %}
      <div class="card">
        <img class="card-img-top" src="{{img}}" alt="Card image cap">
        <div class="card-body">
         <a href="https://www.google.com/search?q={{imgclass}}" target="_blank"> 
          <h5 class="card-title">{{imgclass}}</h5>
          To Know more about the brand owners and their success story follow the link.</p>
         </a>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endif %}