<!-- Card Information -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <div class="card-header">
          <h6 class="m-0 font-weight-bold text-primary"><i class="fas fa-fw fa-info-circle"></i> Information</h6>
        </div>
        <div class="card-body">

          On the Grayscale Menu, you can do image manipulation in the form of convert color images to gray images. This can be done by changing each pixel in a 24-bit RGB image to an 8-bit Grayscale image.
        </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->